* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.place_area_sidebar {
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.place_area_sidebar h2 {
    color: #868686;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.place_area_sidebar ul li {
    padding-bottom: 0.5rem;
}
.place_area_sidebar ul li a {
    color: #868686;
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.place_area_sidebar ul li a i {
    padding-right: 1rem;
}
.place_area_sidebar ul li a.active {
    color: #ff6600;
}
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
button[type="submit"] {
    grid-column: 1 / -1;
    width: 100%;
}

@media (max-width: 768px) {
    #kishiselOda{
        flex-direction: column;
        margin: 0;
    }
    .place_area_sidebar{
        width: 100%;
        margin-bottom: 1rem;
    }
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    .form-container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}
/*  */